.cell {
    flex: 1;
    position: relative;
    // improvement: we can add animation frame-by-frame
    path{
        fill: none;
        stroke-width: 16px;
    }
    
    .xs {
        position: absolute;

        path{
            stroke: rgb(84, 84, 84);
            stroke-dasharray: 135.764;
        }
    }

    .os {
        position: absolute;

        path{
            stroke: rgb(242, 235, 211);
            stroke-dasharray: 301.635;
        }
    }
}

.cell::after{
    content: "";
    height: 100%;
    border-left: 4px solid #0da192;
    position: absolute;
    right: -2px;
    z-index: 99;
}

.cell:last-child::after{
    content: none;
}