.board {
    width: 100%;
    position: relative;
    background-color: #13beac;

    &::after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .grid{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .row {
        flex: 1;
        display: flex;
        position: relative;
    }

    .row:after {
        content: "";
        border-bottom: 4px solid #0da192;
        position: absolute;
        display: block;
        width: 100%;
        bottom: -2px;
        z-index: 99;
    }

    .row:last-child::after{
        content: none;
    }
}