.footer {
    .action-bar{
        text-align: center;
        padding: 10px 0;

        button{
            border: 0;
            padding: 5px;
            color: #0da192;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
        }
    }
}